server {
    server_name test-reportcard.wmflabs.org;
    
    ## include snippets/domain_set;
    if ($_host = '') {
        set $_host $host;
    }
    if ($_host ~* ^((?:([a-z0-9_.\-]+)\.)?(.+\..+))$) {
        set $fqdn $1;
        set $subdomain $2;
        set $domain $3;
    }
    ##
    
    root /srv/kraken-ui/dist;
    
    # we put this here so forwarding servers see it before any redirect
    ## include snippets/locations_basic;
    location @404 {
        return 404;
    }
    location ~ /\.ht {
        deny all;
    }
    ##
    
    # Serve static files out of dist before proxying for perf++
    try_files $uri @kraken;
    location @kraken {
        proxy_pass http://test-reportcard.wmflabs.org:8081;
    }
    
    error_page 404 = @404;
    ## include snippets/nolog_files;
    location = /robots.txt {
        log_not_found  off;
    }
    location = /favicon.ico {
        log_not_found  off;
    }
    ##
    
    access_log /var/log/nginx/test-reportcard.wmflabs.org.access.log;
    error_log  /var/log/nginx/test-reportcard.wmflabs.org.error.log;
}
